.stripe-container {
    position: relative;
    top: 70px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(89, 92, 183);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.stripe-text {
    position: relative;
    bottom: 20px;  
    color: white;
}

.stripe-btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #40B3A2; /* Button background color */
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 14px; /* Adjusted font size for better readability */
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }
  
  .stripe-btn:hover {
    opacity: 0.95;
  }
  
  .stripe-btn .stripe-animation {
    position: absolute;
    border-radius: 50%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }
  