.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.contact-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.contact-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.contact-images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact-images img {
    width: 150%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    animation: pulse 3s infinite ease-in-out;
}

.image-fade {
    opacity: 0;
}

.image-fade-active {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
